body{
font-family: "helvetica neue", helvetica;
    background: #000;
    font-weight: 400;
    font-size: 15px;
    color: #aa3e03;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ie7 body{
    overflow:hidden;
}

a{
    color: #333;
    text-decoration: none;
}

.clr{
    clear: both;
}