.hamburger {
    width: 2em;
    height: 2em;
    z-index: 10000;
    background: transparent;
    cursor: pointer;
  }

  .hamburger.is-active .hamburger--container .hamburger--bars {
    background: white;
  }

  .hamburger.is-active .hamburger--container .hamburger--bars:before, .hamburger.is-active .hamburger--container .hamburger--bars:after {
    background: white;
  }

  .hamburger.is-active .hamburger--container .hamburger--bars:before {
    left: 0.25em;
  }

  .hamburger.is-active .hamburger--container .hamburger--bars:after {
    left: -0.25em;
  }

  .hamburger .hamburger--container {
    width: 100%;
    padding: 0.25em;
    position: relative;
  }

  .hamburger .hamburger--container .hamburger--bars {
    height: 3px;
    width: 1.5em;
    background: #ccc;
    position: absolute;
    top: 0.9em;
    transition: 0.3s ease;
  }

  .hamburger .hamburger--container .hamburger--bars:before, .hamburger .hamburger--container .hamburger--bars:after {
    content: "";
    display: block;
    height: 3px;
    width: 1.5em;
    background: inherit;
    position: absolute;
    left: 0;
    transition: 0.3s ease;
  }

  .hamburger .hamburger--container .hamburger--bars:before {
    top: -0.5em;
  }

  .hamburger .hamburger--container .hamburger--bars:after {
    top: 0.5em;
  }
  
  .fsmenu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    display: none;
  }

  .fsmenu .fsmenu--container {
    width: 0;
    height: 100vh;
    padding: 8em 3em 3em;
    background: #000;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  .fsmenu.is-active {
    display: block;
  }

  .fsmenu.is-active .fsmenu--container {
    -webkit-animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
            animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
  }

  .fsmenu.close-menu {
    display: block;
  }

  .fsmenu.close-menu .fsmenu--container {
    width: 100vw;
    right: auto;
    left: 0;
    -webkit-animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;
            animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;
  }

    .fsmenu .nav__menu__block{
        padding: 0;
        font-size: 2.75em;
        line-height: 1.5;
    }
  
  @-webkit-keyframes animMenuReveal {
    0% {
      width: 0vw;
    }
    100% {
      width: 100vw;
    }
  }
  
  @keyframes animMenuReveal {
    0% {
      width: 0vw;
    }
    100% {
      width: 100vw;
    }
  }
  @-webkit-keyframes animMenuRevealLinks {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
  @keyframes animMenuRevealLinks {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
  @-webkit-keyframes animMenuClose {
    0% {
      width: 100vw;
      padding: 8em 3em 3em;
    }
    100% {
      width: 0vw;
      padding: 8em 0 0;
    }
  }
  @keyframes animMenuClose {
    0% {
      width: 100vw;
      padding: 8em 3em 3em;
    }
    100% {
      width: 0vw;
      padding: 8em 0 0;
    }
  }
  @-webkit-keyframes animMenuCloseLinks {
    0% {
      width: 0%;
    }
    100% {
      width: 110%;
    }
  }
  @keyframes animMenuCloseLinks {
    0% {
      width: 0%;
    }
    100% {
      width: 110%;
    }
  }